<h1><span>Sign Up</span></h1>

<% if (useMockData) { %>
  <% const mockData = { firstName: 'Plitt', lastName: 'Link', email: 'plittlink@plitt.com' }; %>
  <% locals.entries = locals.entries || {}; %>
  <% Object.assign(locals.entries, mockData); %>
<% } %>

<form action="/auth/signup" method="POST">
  <input
    type="text"
    name="firstName"
    id="firstName"
    value="<%= locals.entries && locals.entries.firstName %>"
    placeholder="First Name"
  />
  <input
    type="text"
    name="lastName"
    id="lastName"
    value="<%= locals.entries && locals.entries.lastName %>"
    placeholder="Last Name"
  />
  <input
    type="email"
    name="email"
    id="email"
    value="<%= locals.entries && locals.entries.email %>"
    placeholder="Email"
  />
  <input
    type="password"
    name="password"
    id="password"
    value="<%= locals.entries && locals.entries.password %>"
    placeholder="Password"
  />
  <input type="submit" id="send" value="Submit" />
  <p><a href="/auth/login">Already have an account? Log in!</a></p>
</form>
</div>