<h1><span>External-API: Unsplash</span></h1>
<p>
	This view uses the Unsplash API to fetch a random mustache image. The API provides access to a
	vast collection of high-quality, royalty-free images. To learn more about the Unsplash Random
	Photo API, you can visit their
	<a href="https://unsplash.com/documentation#get-a-random-photo" target="_blank">documentation</a>.
	(I request one photo, with a query/keyword of "mustache")
</p>
<div>
	<button onclick="fetchRandomImage()" class="more">Fetch Random Mustache Image</button>
</div>
<div id="gallery"></div>

<script>
	function fetchRandomImage() {
		fetch("/random-mustache-image")
			.then((response) => {
				if (!response.ok) {
					throw new Error("Failed to fetch image");
				}
				return response.json();
			})
			.then((data) => {
				const gallery = document.getElementById("gallery");
				gallery.innerHTML = "";
				const imgElement = document.createElement("img");
				imgElement.src = data.url;
				imgElement.alt = "Random Mustache Image";
				gallery.appendChild(imgElement);
			})
			.catch((error) => {
				console.error("Error fetching image:", error);
				alert("Error fetching image: " + error.message);
			});
	}
</script>

<style>
	#gallery {
		height: 500px;
	}
	#gallery img {
		width: auto;
		height: 100%;
	}
	p {
		font-size: 1.5em;
		width: 80%;
		text-align: center;
		margin: 0 auto;
		padding: 10px;
	}
</style>
