<h1><span>let's make a new style</span></h1>
<form action="/styles/new" method="post" enctype="multipart/form-data">
    <input type="text" name="title" id="title" placeholder="title" required>
    <input type="text" name="description" id="description" placeholder="description" required>
    <input type="file" name="styleImage" id="styleImage" required>
    <input type="submit" name="send" id="send" value="send">
</form>
</div>
